//--------------------------------------------------------------
// Form Fields and Layout
//--------------------------------------------------------------


form {
	
}

/*
 * jquery.selectBoxIt.css 3.8.0
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
// .selectboxit-container {
//   position: relative;
//   display: inline-block;
//   vertical-align: top;
// }

// /* Styles that apply to all SelectBoxIt elements */
// .selectboxit-container * {
//   font: 14px Helvetica, Arial;
//   /* Prevents text selection */
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: -moz-none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
//   outline: none;
//   white-space: nowrap;
// }

// /* Button */
// .selectboxit-container .selectboxit {
//   width: 220px; /* Width of the dropdown button */
//   cursor: pointer;
//   margin: 0;
//   padding: 0;
//   border-radius: 6px;
//   overflow: hidden;
//   display: block;
//   position: relative;
// }

// /* Height and Vertical Alignment of Text */
// .selectboxit-container span, .selectboxit-container .selectboxit-options a {
//   height: 30px; /* Height of the drop down */
//   line-height: 30px; /* Vertically positions the drop down text */
//   display: block;
// }

// /* Focus pseudo selector */
// .selectboxit-container .selectboxit:focus {
//   outline: 0;
// }

// /* Disabled Mouse Interaction */
// .selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
//   opacity: 0.65;
//   filter: alpha(opacity=65);
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   cursor: default;
// }

// /* Button Text */
// .selectboxit-text {
//   text-indent: 5px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   float: left;
// }

// .selectboxit .selectboxit-option-icon-container {
//   margin-left: 5px;
// }

// /* Options List */
// .selectboxit-container .selectboxit-options {
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   min-width: 100%;  /* Minimum Width of the dropdown list box options */
//   *width: 100%;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   position: absolute;
//   overflow-x: hidden;
//   overflow-y: auto;
//   cursor: pointer;
//   display: none;
//   z-index: 9999999999999;
//   border-radius: 6px;
//   text-align: left;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
// }

// /* Individual options */
//  .selectboxit-option .selectboxit-option-anchor{
//   padding: 0 2px;
// }

// /* Individual Option Hover Action */
// .selectboxit-option .selectboxit-option-anchor:hover {
//   text-decoration: none;
// }

// /* Individual Option Optgroup Header */
// .selectboxit-option, .selectboxit-optgroup-header {
//   text-indent: 5px; /* Horizontal Positioning of the select box option text */
//   margin: 0;
//   list-style-type: none;
// }

// /* The first Drop Down option */
// .selectboxit-option-first {
//   border-top-right-radius: 6px;
//   border-top-left-radius: 6px;
// }

// /* The first Drop Down option optgroup */
// .selectboxit-optgroup-header + .selectboxit-option-first {
//   border-top-right-radius: 0px;
//   border-top-left-radius: 0px;
// }

// /* The last Drop Down option */
// .selectboxit-option-last {
//   border-bottom-right-radius: 6px;
//   border-bottom-left-radius: 6px;
// }

// /* Drop Down optgroup headers */
// .selectboxit-optgroup-header {
//   font-weight: bold;
// }

// /* Drop Down optgroup header hover psuedo class */
// .selectboxit-optgroup-header:hover {
//   cursor: default;
// }

// /* Drop Down down arrow container */
// .selectboxit-arrow-container {
//   /* Positions the down arrow */
//   width: 30px;
//   position: absolute;
//   right: 0;
// }

// /* Drop Down down arrow */
// .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
//   /* Horizontally centers the down arrow */
//   margin: 0 auto;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   left: 0;
// }

// /* Drop Down down arrow for jQueryUI and jQuery Mobile */
// .selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
//   top: 30%;
// }

// /* Drop Down individual option icon positioning */
// .selectboxit-option-icon-container {
//   float: left;
// }

// .selectboxit-container .selectboxit-option-icon {
//   margin: 0;
//   padding: 0;
//   vertical-align: middle;
// }

// /* Drop Down individual option icon positioning */
// .selectboxit-option-icon-url {
//   width: 18px;
//   background-size: 18px 18px;
//   background-repeat: no-repeat;
//   height: 100%;
//   background-position: center;
//   float: left;
// }

// .selectboxit-rendering {
//   display: inline-block !important;
//   *display: inline !important;
//   zoom: 1 !important;
//   visibility: visible !important;
//   position: absolute !important;
//   top: -9999px !important;
//   left: -9999px !important;
// }

// /* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
// .jqueryui .ui-icon {
//   background-color: inherit;
// }

// /* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
// .jqueryui .ui-icon-triangle-1-s {
//   background-position: -64px -16px;
// }

// /*
//   Default Theme
//   -------------
//   Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
// */

// .selectboxit-container {
// 	height: 52px;
// 	display: block;
// 	margin-bottom: 20px;

// 	@include breakpoint ( $break-small) {
// 		height: 77px;
// 	}

// 	@include breakpoint ( $break-medium) {
// 		height: 52px;
// 	}

// 	.selectboxit-btn {
// 		border-radius: 0;
// 		padding: 12px 0;
// 		width: 254px !important;
// 		height: 52px;
// 		background: url( "../img/input-border.png" ) center center no-repeat;

// 		@include breakpoint ( $break-small) {
// 			background: url( "../img/input-border-mobile.png" ) center center no-repeat;
// 			width: 563px !important;
// 			height: 77px;
// 		}

// 		@include breakpoint ( $break-medium) {
// 			width: 254px !important;
// 			height: 52px;
// 			background: url( "../img/input-border.png" ) center center no-repeat;
// 		}

// 		span {
// 			font-family: $font-default;
// 			font-size: 26px;
// 			font-size: 2.6rem;
// 			text-transform: uppercase;
// 			color: $black;
// 			letter-spacing: 1.5px;
// 			text-indent: 20px;
// 			margin: 0;
// 			top: 0;
// 			height: 52px;

// 			@include breakpoint ( $break-small) {
// 				font-size: 37px;
// 				font-size: 3.7rem;
// 				line-height: 1.6;
// 				height: 77px;
// 			}

// 			@include breakpoint ( $break-medium ) {
// 				font-size: 26px;
// 				font-size: 2.6rem;
// 				line-height: 1.2;
// 				height: 52px;
// 			}
// 		}

// 		.selectboxit-arrow-container {
// 			background: url( "../img/arrow-dropdown.png" ) center center no-repeat;
// 			background-size: 40%;
// 			width: 52px;

// 			@include breakpoint ( $break-small) {
// 				width: 65px;
// 			}

// 			@include breakpoint ( $break-medium) {
// 				width: 52px;
// 			}
// 		}

// 		&.selectboxit-open {
// 			.selectboxit-arrow-container {
// 				background: url( "../img/arrow-dropdown-up.png" ) center center no-repeat;
// 				background-size: 40%;
// 			}
// 		}
// 	}

// 	.selectboxit-options {
// 		background-color: $white;
// 		width: 254px !important;
// 		min-width: 0 !important;
// 		border-radius: 0;
// 		padding: 10px 0;

// 		@include breakpoint ( $break-small) {
// 			width: 563px !important;
// 		}

// 		@include breakpoint ( $break-medium) {
// 			width: 254px !important;
// 		}

// 		li {
// 			width: 100%;
// 			padding: 10px 0 5px;
// 		}

// 		a {
// 			height: auto;
// 			line-height: 1.2;
// 		}
// 	}

// 	.selectboxit-option-anchor {
// 		font-family: $font-default;
// 		font-size: 26px;
// 		font-size: 2.6rem;
// 		text-transform: uppercase;
// 		color: $black;
// 		letter-spacing: 1.5px;
// 		text-indent: 0;
// 		padding-left: 15px;
// 		margin: 0;
// 		top: 0;
// 		word-break: break-word;
// 		white-space: normal;
// 		max-width: 100%;
// 	}

// 	.selectboxit-option-icon-container {
// 		display: none;
// 	}

// 	.selectboxit-text {
// 		padding-right: 35px;
// 	}
// }