//--------------------------------------------------------------
// Structure and High-Level Elements
//--------------------------------------------------------------

* {
	line-height: 1.2;
	box-sizing: border-box;
}

p {
	font-family: $font-default;
	color: #696969;
	font-size: 15px;
	line-height: 1.8;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
}

.container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;

	@include breakpoint ( $break-medium ) {
		max-width: 960px;
	}
}

.inner-container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;

	@include breakpoint ( $break-medium ) {
		max-width: 800px;
	}
}

.no-space {
	margin: 0;
	padding: 0;
}

section {
	padding: 40px 0 55px;
	text-align: center;
}

.hero-image {
	width: 100%;
	padding-top: 50%;

	@include breakpoint ( $break-small ) {
		padding-top: 35%;
	}

	@include breakpoint ( $break-medium ) {
		padding-top: 29%;
	}
}

.default {
	section {
		text-align: left;
	}
}

//--------------------------------------------------------------
// Font Classes and Heading Areas
//--------------------------------------------------------------

.heading {
	font-family: $font-heading;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.italic-heading {
	font-family: $font-default;
	font-size: 24px;
	font-style: italic;
	text-align: center;
}

.underline-heading {
	position: relative;
	padding-bottom: 10px; 

	&:after {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		background-color: $grey;
		margin: 0 auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}






.cedar-text {
	font-family: $font-cursive;
}

.signature {
	font-family: $font-cursive;
	font-size: 20px;
}

*,
.copy-text,
.copy-text * {
	font-family: $font-default;
	font-size: 17px;
	font-size: 1.7rem;
	line-height: 1.4;

	@include breakpoint ( $break-small) {
		font-size: 21px;
		font-size: 2.1rem;
	}

	@include breakpoint ( $break-medium ) {
		font-size: 15px;
		font-size: 1.5rem;
	}
}

//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

.button {
	outline: 0;
	font-family: $font-default;
	font-size: 14px;
	font-weight: 600;
	padding: 6px 40px;
	letter-spacing: 2px;
	border: 1px solid $white;
	color: $white;
	background-color: $dark-blue;
	text-transform: uppercase;
	margin: 30px auto;
	transition: background-color .3s ease, outline .3s ease;
	outline: 6px solid $dark-blue;

	&:hover {
		background-color: $light-blue;
		outline: 6px solid $light-blue;
		color: $white;
		transition: background-color .3s ease, outline .3s ease;
	}

	&.light {
		background-color: $light-grey;
		outline: 6px solid $light-grey;
		color: $dark-blue;
		border-color: $dark-blue;

		&:hover {
			background-color: $dark-blue;
			outline: 6px solid $dark-blue;
			color: $white;
			border-color: $white;
		}
	}
}

//--------------------------------------------------------------
// Grid Elements (without floating elements!)
//--------------------------------------------------------------

.column-container {
	font-size: 0;
}

.column-half {
	padding: 30px 0;
	vertical-align: top;

	@include breakpoint ( $break-medium ) {
		width: 50%;
		display: inline-block;
		padding: 20px;
	}
}

.column-third {
	font-size: 15px;
	vertical-align: top;
	padding: 5px 0;

	@include breakpoint ( $break-medium ) {
		width: 33.33%;
		display: inline-block;
		padding: 15px;
	}
}

.extra-padding {

	@include breakpoint ( $break-medium ) {
		padding: 65px 48px;
	}
}

//--------------------------------------------------------------
// Center Align Vertically
//--------------------------------------------------------------

.vertical-referance {
	position: relative;
	font-size: 0;
}

.over-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.outer-table {
	display: table;
	height: 100%;
	width: 100%;
}

.inner-table {
	display: table-cell;
	vertical-align: middle;
}

//--------------------------------------------------------------
// iframe Wrapper (responsive)
//--------------------------------------------------------------

.iframe-wrapper {
	padding: 56.25% 0 0;
	width: 100%;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//--------------------------------------------------------------
// Hide Mobile/Desktop
//--------------------------------------------------------------

.hide-mobile {
	display: none;

	@include breakpoint ( $break-medium ) {
		display: inline-block !important;
	}
}

.hide-desktop {

	@include breakpoint ( $break-medium ) {
		display: none !important;
	}
}

//--------------------------------------------------------------
// Slick Slider
//--------------------------------------------------------------

.slick-slider {

	.slick-slide:focus {
		outline: 0;
	}

	.slick-dots {
		margin: 0 auto;
		text-align: right;
		bottom: 20px;
		right: 40px;
		
		li {
			padding: 0;
			text-align: center;
			display: inline-block;
			width: 22px;
			margin: 0;

			button {
				padding: 18px 0;
				width: 4px;
				height: 4px;
				display: block;

				&:before {
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					background: none;
					border: 2px solid $white;
					border-radius: 100%;
					opacity: 1;
				}
			}

			&.slick-active button:before {
				width: 10px;
				height: 10px;
				background: $white;
				opacity: 1;
			}
		}
	}
}