//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button {
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 15px 0;
}

h3 {
	font-size: 18px;
	font-size: 1.8rem;
}

p {
	margin-bottom: 15px;
	font-size: 15px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

ul {
	margin: 0;
	padding: 0;

	li {
		padding: 5px 0;
	}
}

ol {
	margin: 0;
	padding-left: 20px;

	li {
		padding: 5px 0 5px 10px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

a, 
a * {
	&:hover {
		text-decoration: none;
		color: $grey;
	}
}

strong,
strong * {
	font-weight: bold;
}
