//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// -------------------
// Typography / Rhythm
// -------------------

$space: 20px;


// ------
// Colors
// ------

$white: #FFF;
$black: #000;

$dark-blue: #384558;
$light-grey: #efefef;
$light-blue: #b7cad3;
$blue: #3f6890;

$grey: #B7B5B6;
$platinum: #EBEBED;

$white-transparent: rgba( 255, 255, 255, 0.82 );


// -----
// Fonts
// -----

$font-default: 'Raleway', sans-serif;
$font-heading: 'Oswald', sans-serif;
$font-cursive: 'Cedarville Cursive', cursive;


// -----------
// Breakpoints
// -----------

$break-xsmall: 460px;
$break-small: 640px;
$break-medium: 860px;
$break-large: 1040px;
$max-width: 1200px;
