//--------------------------------------------------------------
// Styles for the Blog Archive
//--------------------------------------------------------------

.blog-archive {
	.blog-hero {
		.heading {
			color: $white;
		}
	}

	article {
		margin-bottom: 40px;

		.italic-heading {
			margin-bottom: 10px;
		}

		.date {
			text-align: center;
			margin-top: 0;
		}

		.post-image {
			width: 100%;
			padding-top: 35%;

			&:hover {
				opacity: .9;
			}
		}
	}
}