//--------------------------------------------------------------
// Styles for Header
//--------------------------------------------------------------

.site-footer {
	padding: 30px 0;
	margin-top: 60px;
	border-top: 3px solid $platinum;
	text-align: center;

	.social-icons {
		a {
			
		}
	}
}