//--------------------------------------------------------------
// Styles for Header
//--------------------------------------------------------------

.site-header {
	padding: 35px 0;

	.header-bar {
		.menu {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;

			.menu-item {
				display: inline-block;
				padding: 0 30px;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
}