//--------------------------------------------------------------
// Styles for Home
//--------------------------------------------------------------

.homepage {
	.home-hero{
		.hero-image {
			background: url( "../img/mountains.jpg" ) center center no-repeat;
			background-size: cover;
		}

		.site-logo {
			display: inline-block;
			background-color: $white-transparent;
			padding: 30px 0 25px;
			width: 60%;
			max-width: 400px;

			@include breakpoint ( $break-small ) {
				width: 45%;
			}

			@include breakpoint ( $break-medium ) {
				width: 35%;
			}

			img {
				width: 85%;
			}
		}
	}

	.featured {
		.column-half {
			&:nth-child(odd) {
				padding: 0 3% 0 0;
			}

			&:nth-child(even) {
				padding: 0 0 0 3%;
			}
		}

		.preview {
			margin-bottom: 35px;
		}
	}

	.home-about {
		border: 1px solid $platinum;

		p {
			padding: 10px 15px 25px;
		}
	}
}
